doctype html
html
    head
        title Olympics Dashboard
    body

    div
        ul
            li 
                a(href='/') Home
            li 
                a(href='/sports/basketball') basketball
    div
        p= message

